html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.landing, 
.second-screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.second-screen{
    background-color: coral;
}